$paleta-rojo:#CC2A41;
$paleta-plomo:#424254;
$paleta-amarillo:#E8CAA4;
$paleta-granate: #351330;
$paleta-verde:#64908A;

$paleta-rojo-hover:#790011;
$paleta-plomo-hover:#000051;
$color-fondo: linear-gradient(to bottom, $paleta-amarillo 0%, $paleta-verde 100%);
