<app-breadcrumb [items]="[
  { label: 'Inicio', url: '/' },
  { label: 'Grupos', url: '/grupos' },
  { label: 'Detalle', url: '/grupos/' + grupo?.id }
]"></app-breadcrumb>

<div class="item-container-center">
  <div class="titulo-seccion">Detalles del Grupo</div>
  <div *ngIf="grupo">
    
    <div class="sub-titulo-seccion">Nombre:</div>
    <div class="contenido-seccion">{{ grupo.nombre }}</div>
    <div class="sub-titulo-seccion">Descripcion:</div>
    <div class="contenido-seccion">{{ grupo.descripcion }}</div>

    <div class="titulo-seccion">Listado de Trabajadores</div>    
    <div *ngFor="let trabajador of trabajadores">
      <div class="item-content">
        <img matListAvatar [src]="trabajador.imagen" alt="Person" class="item-img-mini">
        <span class="item-texto">{{ trabajador.nombre }}</span>
        <div class="item-icons-right">
            <mat-icon class="item-icon" >delete</mat-icon>
            <mat-icon class="item-icon" >edit</mat-icon>
        </div>
      </div>
    </div>

  </div>  
</div>
